.container {
  display: flex;
  margin-bottom: 1em;
  width: calc(100% - 5em);
  margin-left: 1em;
}

.mainImage {
  width: auto;
  animation: slide-from-bottom 1000ms;
  cursor: pointer;
}

.tinyImages {
  height: 5em;
  width: auto;
}

@media (max-width: 800px) {
  .container {
    width: calc(100% - 2em);
    margin-left: 1em;
  }
}

@keyframes slide-from-bottom {
  0% {
    top: -5em;
    opacity: 0;
  }
  100% {
    top: 0em;
    opacity: 1;
  }
}
